@import url('https://fonts.googleapis.com/css?family=Mandali');
@import url('https://fonts.googleapis.com/css?family=Finger+Paint');




  /***********/
 /* CLASSES */
/***********/

.selling-points{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/assets/images/landing_images/wall3.jpg");
    background-size: 150%;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    border-radius: 0px 0px 40px 40px;
    height: 1465px;
    opacity: 0.9;
    -webkit-box-shadow: 16px 12px 45px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 16px 12px 45px 1px rgba(0,0,0,0.5);
    box-shadow: 16px 12px 45px 1px rgba(0,0,0,0.5);
}


.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    -webkit-box-shadow: 16px 12px 45px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 16px 12px 45px 1px rgba(0,0,0,0.5);
    box-shadow: 16px 12px 45px 1px rgba(0,0,0,0.5);
    margin-right: auto;
    margin-left: auto;
    width: 800px;
    border-radius: 40px 40px 0px 0px;
}


.hero-title {
    color: #ffffff;
    background-image: url("/assets/images/landing_images/orange-gradient.jpg");
    text-align: center;
    font-family: 'Finger Paint', cursive;
    font-weight: 400;
    font-size: 75px;
    text-shadow: 2px 2px 8px #101010;
    height: 240px;
    width: 800px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.hero-image{
    border-radius: 40px 40px 0px 0px;
}

.point-1-container, .point-2-container, .point-3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


.point-title-1, .point-title-2, .point-title-3{
    color: #ffffff;
    margin-top: 0px;
    height: 220px;
    width: 800px;
    text-shadow: 3px 3px 3px #101010;
    text-align: center;
    word-spacing: .15em;
    font-family: 'Finger Paint', cursive;
    font-size: 46px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}


.point-description-1, .point-description-2{

    width: 800px;
    font-family: 'Mandali', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    background-color: #656277e1;
    text-align: center;
    line-height: 2em;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}


.point-description-3{
    width: 800px;
    font-family: 'Mandali', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    background-color: #656277e1;
    text-align: center;
    line-height: 2em;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    border-radius: 0px 0px 40px 40px;
}
