@import url('https://fonts.googleapis.com/css?family=Lato');

  /***********/
 /* CLASSES */
/***********/

.library-container{
    display: flex;
    background-image: url("/assets/images/landing_images/orange-gradient.jpg");
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    opacity: .9;
    -webkit-box-shadow: 16px 12px 45px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 16px 12px 45px 1px rgba(0,0,0,0.5);
    box-shadow: 16px 12px 45px 1px rgba(0,0,0,0.5);
}

.album-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-top: 40px;
}


.album-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 100;
    text-decoration: none;
    line-height: 1.5em;
    height: 150px;
    margin-left: 25px;
    text-shadow: 2px 2px 1px #131313;
    margin-left: 65px;
}


a{
    text-decoration: none;
}


.album-info-container:hover{
    text-decoration: underline;
}


.album-cover{
    height: 300px;
    width: 300px;
    border-radius: 20%;
    -webkit-box-shadow: 13px 11px 16px -2px rgba(0,0,0,0.73);
    -moz-box-shadow: 13px 11px 16px -2px rgba(0,0,0,0.73);
    box-shadow: 13px 11px 16px -2px rgba(0,0,0,0.73);
    border: 2px solid white;
}