
  /***********/
 /*  ID's   */
/***********/
#time-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-top: 20px;
}


#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin-top: 10px;
}


#volume-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    margin-top: 20px;
}


  /***********/
 /* CLASSES */
/***********/
.player-bar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0px;
    margin-bottom: 75px;
    color: black;
    line-height: 1em;
    font-size: 24px;
    font-weight: 500;
}


